---
import Layout from "../layouts/Layout.astro";
---

<Layout title="MUREX Robotics - About" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-11/12 md:w-3/4 xl:w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>
		<div class="flex justify-start gap-3 flex-wrap md:flex-nowrap w-full pb-8">
			<div>
				<h1 class="text-white font-hype font-bold text-4xl md:text-5xl">
					Welcome to the world of MUREX Robotics.
				</h1>
			</div>
			<div class="flex flex-col gap-5">
				<p class="text-white font-hype font-normal text-1xl">
					<b>MUREX (MATE Underwater Robotics at Exeter)</b> is an <b
						>underwater robotics team</b
					> from <b>Phillips Exeter Academy</b>, a high school in
					Exeter, New Hampshire.
				</p>
				<p class="text-white font-hype font-normal text-1xl">
					A team consisting of <b>10+</b> (and counting!) dedicated and
					passionate members entering our third year, we compete in the
					<b>MATE ROV Competition</b> under the Ranger division.
				</p>
				<p class="text-white font-hype font-normal text-1xl">
					Our team specializes in <b>highly integrated</b> design and technology,
					with a focus on matching the pace of <b
						>industry-level ROVs</b
					> while <b>maximizing</b> simplicity, efficiency and cost-effectiveness.
				</p>
				<ul class="text-white font-hype font-normal text-1xl">
					<b>Achievements and Awards:</b>
					<li>
						- <b>Top 5</b> in New England for all competitive years
					</li>
					<li>
						- <b>Team Spirit Award</b> New England Regionals 2023
					</li>
					<li>
						- Fully <b>open source</b>
					</li>
				</ul>
				<ul class="text-white font-hype font-normal text-1xl">
					<b>Location:</b>
					<li>
						Phillips Exeter Academy, 20 Main Street, Exeter, NH 03833-2460
					</li>
				</ul>
			</div>
		</div>
		<a
			href="https:/www.exeter.edu"
			target="_blank"
			rel="noopener noreferrer"
		>
			<img src="/images/map_location.jpg" class="w-full h-auto hidden md:block" />
			<img src="/images/map_location_mobile.jpg" class="w-full h-auto block md:hidden" />
			</a>
	</main>
</Layout>
