---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MUREX Robotics - About" animated={false}>
	<main class="flex justify-center flex-row flex-wrap w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]">
		<div class="flex justify-start w-full pb-8">
			<div>
				<h1 class="text-white font-hype font-bold text-5xl">
					Welcome to the world of MUREX Robotics.
				</h1>
			</div>
			<div class="flex flex-col gap-5">
				<p class="text-white font-hype font-normal text-1xl">
					<b>MUREX (MATE Underwater Robotics at Exeter)</b> is an <b>underwater robotics team</b> from <b>Phillips Exeter Academy</b>, a high school in Exeter, New Hampshire.
				</p>
				<p class="text-white font-hype font-normal text-1xl">
					A team consisting of <b>10+</b> (and counting!) dedicated and passionate members entering our third year, we compete in the <b>MATE ROV Competition</b> under the Ranger division.
				</p>
				<p class="text-white font-hype font-normal text-1xl">
					Our team specializes in <b>highly integrated</b> design and technology, with a focus on matching the pace of <b>industry-level ROVs</b> while <b>maximizing</b> simplicity, efficiency and cost-effectiveness.
				</p>
				<ul class="text-white font-hype font-normal text-1xl">
					<b>Achievements and Awards:</b>
					<li>
						- <b>Top 5</b> in New England for all competitive years
					</li>
					<li>
						- <b>Team Spirit Award</b> New England Regionals 2023
					</li>
					<li>
						- Fully <b>open source</b>
					</li>
				</ul>
			</div>
		</div>
		<a href="https:/www.exeter.edu" target="_blank" rel="noopener noreferrer"><img src="/images/map_location.jpg" class="w-full h-auto"></a>
	</main>
</Layout>