---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MUREX Robotics - Phillips Exeter Academy" animated={false}>
	<main class="flex justify-center items-center">
		<div class="absolute"><span id="element" class="font-hype font-extrabold z-10 text-gradient text-9xl"/></div>
	</main>
</Layout>

<script>
	import Typed from 'typed.js';
	const typed = new Typed('#element', {
		strings: ['Attempt ^300 the ^300 impossible', 'MUREX ^300 Robotics'],
		startDelay: 3000,
		typeSpeed: 40,
	});
</script>