---
import Layout from "../layouts/Layout.astro";
import ImageGallery from "../components/ImageGallery";
import Globe from "../components/Globe";
---

<link rel="stylesheet" href="https://use.typekit.net/qyw8dll.css" />
<Layout title="Main" animated={true}>
	<div class="min-h-screen overflow-x-hidden">
		<main class="flex justify-center items-center h-screen w-screen">
			<div
				class="absolute flex justify-center items-center px-10 lg:px-0 opacity-95 z-10 pointer-events-none"
			>
				<span
					id="element"
					class="font-hype font-extrabold break-words z-10 text-gradient text-5xl lg:text-7xl 2xl:text-9xl text-center opacity-0 animate-[0.75s_fade-in_1.5s_forwards] pointer-events-none"
				></span>
			</div>
		</main>
		<div
			class="opacity-0 animate-[5s_fade-in_1.5s_forwards] absolute w-screen h-screen top-0 left-0 flex justify-center items-center"
		>
			<Globe client:load />
		</div>
		<main
			class="flex justify-center items-center h-1/2 w-screen px-14 2xl:px-0 2xl:w-3/4 py-24 opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards]"
		>
			<div
				class="w-full flex justify-center items-start md:items-end flex-wrap flex-col"
			>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left md:text-right"
				>
					ATTEMPT THE
				</span>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left md:text-right pb-5"
				>
					IMPOSSIBLE.
				</span>
				<span
					class="font-sans text-gray-200 max-w-md text-left text-sm lg:text-base md:text-right"
				>
					We go beyond competition and strive for innovation. We do it
					the hard way, because we know it is the right way. We make
					true, open-sourced innovation to democratize underwater
					robotics technology for all.
				</span>
			</div>
		</main>
		<main
			class="flex justify-center items-center h-1/2 w-screen px-14 2xl:px-0 2xl:w-3/4 py-24 opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards]"
		>
			<div
				class="w-full flex justify-center items-start flex-wrap flex-col"
			>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left"
				>
					DO IT RIGHT.
				</span>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left pb-5"
				>
					DO IT MUREX.
				</span>
				<span
					class="font-sans text-gray-200 text-sm lg:text-base max-w-md"
				>
					MUREX isn't just another high school robotics team. With a
					vision to revolutionize the underwater robotics industry, we
					push technological boundaries and contribute to the
					community around us. MUREX doesn't cut corners. MUREX
					doesn't settle for OK. We do it right. We think different.
					Unleash innovation. We attempt the impossible.
				</span>
			</div>
		</main>
		<main
			class="flex justify-center items-center h-1/2 w-screen px-14 2xl:px-0 2xl:w-3/4 py-24 opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards]"
		>
			<div
				class="w-full flex justify-center items-start md:items-end flex-wrap flex-col"
			>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left md:text-right"
				>
					THINKING
				</span>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left md:text-right pb-5"
				>
					GLOBAL.
				</span>
				<span
					class="font-sans text-gray-200 max-w-md text-left text-sm lg:text-base md:text-right"
				>
					Our engineering team comes from all around the world. See
					that globe above? There's a dot where each member is from.
					It means that we bring unprecedented ideas to the drawing
					board with our distinct backgrounds. It also shows our
					development ability to design, engineer, and source
					globally.
				</span>
			</div>
		</main>
		<main
			class="flex justify-center items-center h-1/2 w-screen px-14 2xl:px-0 2xl:w-3/4 py-24 opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards]"
		>
			<div
				class="w-full flex justify-center items-start flex-wrap flex-col"
			>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left"
				>
					OPEN SOURCE.
				</span>
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-5xl lg:tex-6xl 2xl:text-7xl text-left pb-5"
				>
					OPEN SOURCE.
				</span>
				<span
					class="font-sans text-gray-200 text-sm lg:text-base max-w-md"
				>
					We fully embrace open source, making sure all of our
					innovations are available to the community that allowed us
					to innovate in the first place as well as inspiring the next
					generation of engineers.
				</span>
			</div>
		</main>
		<main
			class="flex justify-center items-center opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards] h-1/2"
		>
			<div class="lg:w-2/3 w-11/12">
				<span
					class="font-hype font-extrabold z-10 text-gradient text-4xl md:text-7xl text-center"
				>
					// HIGHEST-EVER ENGINEERING PRESENTATION SCORE IN MATE ROV
					HISTORY_ 113/100
				</span>
			</div>
		</main>
		<main
			class="flex justify-center h-full opacity-0 animate-[1s_fade-in_2s_forwards] pt-48"
		>
			<ImageGallery client:only="react" />
		</main>
		<main
			class="flex justify-center flex-col items-center h-1/2 w-3/4 py-24"
		>
			<span
				class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-center"
			>
				UNPARALLELED INNOVATION FOR ALL.
			</span>
			<span
				class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-center"
			>
				A NEW GENERATION OF HIGH PERFORMANCE ROVs.
			</span>
		</main>
	</div>
</Layout>

<script>
	import Typed from "typed.js";
	const text = [];
	text.push(
		"ATTEMPT ^300 THE ^300 IMPOSSIBLE.",
		"UNLEASH ^300 INNOVATION.",
		"THINK ^300 DIFFERENT.",
		"DO IT ^300 RIGHT."
	);
	const typed = new Typed("#element", {
		strings: [
			text[Math.floor(Math.random() * 4)],
			"WE ARE ^500 MUREX ^300 ROBOTICS.",
		],
		startDelay: 1500,
		typeSpeed: 40,
	});
</script>
