---
import Layout from '../layouts/Layout.astro';
import ImageGallery from '../components/ImageGallery';
---

<Layout title="MUREX Robotics - Phillips Exeter Academy" animated={true}>
	<div class="min-h-screen">
		<main class="flex justify-center items-center h-screen w-screen">
			<div class="absolute flex justify-center items-center"><span id="element" class="font-hype font-extrabold z-10 text-gradient text-5xl lg:text-9xl text-center opacity-0 animate-[0.75s_fade-in_1.5s_forwards]"/></div>
		</main>
		<main class="flex justify-center items-center h-1/2 w-11/12 md:w-3/4 py-24 opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards]">
			<div class="w-full flex justify-center items-start flex-wrap flex-col">
				<span class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-left">
					DO IT RIGHT.
				</span>
				<span class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-left">
					DO IT MUREX.
				</span>
				<span class="font-sans text-white max-w-md">
					MUREX isn't just another high school robotics team. With a vision to revolutionize the underwater robotics industry, we push technological boundaries and contribute to the community around us. MUREX doesn't cut corners. We do it right.
				</span>
			</div>
		</main>
		<main class="flex justify-center items-center h-1/2 w-11/12 md:w-3/4 py-24 opacity-0 animate-[0.75s_fade-in_1.2s_ease-in-out_forwards]">
			<div class="w-full flex justify-center items-end flex-wrap flex-col">
				<span class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-right">
					OPEN SOURCE.
				</span>
				<span class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-right">
					OPEN SOURCE.
				</span>
				<span class="font-sans text-white max-w-md text-right">
					We fully embrace open source, making sure all of our innovations are available to the community that allowed us to innovate in the first place as well as inspiring the next generation of engineers.
				</span>
			</div>
		</main>
		<main class="flex justify-center h-full opacity-0 animate-[1s_fade-in_2s_forwards] pt-48">
			<ImageGallery client:only="react"/>
		</main>
		<main class="flex justify-center items-center h-1/2 w-3/4 py-24">
			<span class="font-hype font-extrabold z-10 text-gradient text-5xl md:text-7xl text-center">
				THE FUTURE IS NOW.
			</span>
		</main>
	</div>
</Layout>

<script>
	import Typed from 'typed.js';
	const typed = new Typed('#element', {
		strings: ['Attempt ^300 the ^300 impossible.', 'This is ^500 MUREX ^300 Robotics.'],
		startDelay: 1500,
		typeSpeed: 40,
	});
</script>