---
import { PathAnimation } from '../components/PathAnimation';
import Layout from '../layouts/Layout.astro';
---

<Layout title="MUREX Robotics - Phillips Exeter Academy">
	<main class="flex items-center justify-center">
		<div class="absolute"><span id="element" class="font-hype font-extrabold z-10 text-gradient text-9xl"/></div>
		<PathAnimation client:visible/>
	</main>
</Layout>

<script>
	import Typed from 'typed.js';
	const typed = new Typed('#element', {
		strings: ['Attempt the impossible'],
		startDelay: 3000,
		typeSpeed: 80,
	});
</script>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		width: 100vw;
		height: 100vh;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
