---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-screen px-10 lg:w-1/2 2xl:w-1/2 max-w-[760px] min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>
		<div class="justif-center flex flex-col">
			<div class="py-5">
				<h1 class="text-gray-200 font-hype font-thin text-4xl md:text-6xl">
					Welcome to
				</h1>
				<h1
					class="text-gray-200 font-hype font-black text-4xl md:text-6xl"
				>
					mrxEE
				</h1>
			</div>
			<span class="text-gray-200 font-sans text-lg md:text-1xl py-3">
				mrxEE (MUREX Experimental Engineering) is MUREX Robotics's
				highly experimental research division. Calling upon our
				foundation of innovative, open-source electrical engineering
				(hence the origins of EE) designs, we push the absolute limits
				of modern day robotics. Beyond the MATE ROV Competition, our
				true goal is to change the world around us with groundbreaking
				innovation. The industry doesn't move us –– <b> we move it </b>.
				We achieve what no other team in the world is capable of. And we
				do it <b>incessantly</b>.
			</span>
			<span class="text-gray-200 font-sans text-lg md:text-1xl py-3">
				* <a href="https://mrx.ee" class="underline">mrx.ee</a> domain currently work-in-progress. unleashing innovation...
			</span>
			<span class="text-gray-200 font-sans text-lg md:text-1xl py-3">
                Email: <a href="mailto:murex@mrx.ee" class="font-hype font-black">murex@mrx.ee</a>
			</span>
			<span class="text-gray-200 font-hype text-2xl md:text-3xl font-black">
				ACHIEVEMENTS
			</span>
			<span class="text-gray-200 font-sans text-lg md:text-1xl py-3">
				<ol class="px-5 flex gap-3 flex-col">
					<li>
						- [Jun. 2024] World's smallest and lowest cost networking switch.
						<ol class="pl-5">
							<li>
								- #1 on HN with +600 upvotes
							</li>
							<li>
								- Published on Tom's Hardware, r/Hardware, Interesting Engineering, and more.
							</li>
						</ol>
					</li>
					<li>
						- [Dec. 2023] World's first open-source Ethernet Switch,
						MUREX Ethernet Switch
					</li>
					<li>
						- [Mar. 2024] World's first open-source CM4-based ROV
						control board, MUREX Carrier Board
					</li>
					<li>
						- [Mar. 2024] World's first open-source implementation
						of a USB3.0, MUREX Carrier Board controller
					</li>
					<li>
						- [Nov. 2023] World's first modular serial single ESC,
						MUREX ANYESC
					</li>
					<li>
						- [Dec. 2023] World's smallest open-source dual-output
						high power module designed for 12V/5V/3.3V DC
						applications, MUREX Power Board
					</li>
					<li>
						- [Nov. 2023] World's first open demo of OFDM
						(orthogonal frequency division multiplexing) over
						galvanically isolated DC power lines, mrxPLC
					</li>
					<li>
						- [Jan. 2024] World's first use of H.264 hardware
						encoding on the Allwinner H3 SoC using a mainline Linux
						kernel, unnamed
					</li>
					<li>
						- [Apr. 2024] Xbox trigger support for Ardupilot +
						QGroundControl, unnamed
					</li>
					<li>- [Dec. 2023] Custom Linux operating system, mrxOS</li>
					<li>
						- [Mar. 2024] World's first native arm64 macOS of
						QGroundControl, mrxGCS
					</li>
					<li>- [Dec. 2023] Custom Ardusub autopilot, mrx</li>
					<li>
						- [Jun. 2023] Custom one-to-many, duplex, high-speed,
						asynchronous communication protocol, MASCP
					</li>
					<li>
						- [Dec. 2023] Novel, direct-compilation of the Linux
						Kernel with a virtualized Apple Silicon macOS
						environment and minimal overhead, unnamed
					</li>
				</ol>
			</span>
		</div>
	</main>
</Layout>
