---
import Layout from "../layouts/Layout.astro";
import OurTeamBlock from "../layouts/OurTeamBlock.astro";
import Tilt from "react-parallax-tilt";
---

<Layout title="Our Team" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-11/12 2xl:w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>
		<!-- <img src="/images/gallery30.jpg" alt="Team Photo" class="py-3" /> -->
		<div class="w-full flex justify-start py-5">
			<h1
				class="text-gray-200 font-sans font-extrabold text-4xl md:text-6xl pb-6"
			>
				2025-2026 Team
			</h1>
		</div>
		<div
			class="grid h-max w-full gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 text-gray-200"
		>
		<!-- Super weird preloading glitch. Don't worry about it. Just load everyone's image here first. -->
		<div class="bg-[url('/images/people/max2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/crane.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/anika2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/osbert.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/fiona.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/andrew.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/shiloh.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/sean.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/vincent.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/oliver.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/devon.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/kevin.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/altay.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/hopson.jpeg')] hidden"></div>
		<OurTeamBlock firstName="CRANE" lastName="LEE" classYear="27" pictureName="crane" email="crane@mrx.ee" role="CEO"/>
		<OurTeamBlock firstName="OSBERT" lastName="CHANG" classYear="27" pictureName="osbert" email="osbert@mrx.ee" role="CTO"/>
		<OurTeamBlock firstName="SEAN" lastName="MAHDAVIAN" classYear="27" pictureName="sean" email="sean@mrx.ee" role="COO"/>
		<OurTeamBlock firstName="FIONA" lastName="LIU" classYear="28" pictureName="fiona" email="fiona@mrx.ee" role="Mechanical Lead"/>
		<OurTeamBlock firstName="KEVIN" lastName="CHEN" classYear="28" pictureName="kevin" email="kevin@mrx.ee" role="Electrical Lead"/>
		<OurTeamBlock firstName="OLIVER" lastName="CHOI" classYear="29" pictureName="oliver" email="oliver@mrx.ee" role="Programming Lead"/>
		<OurTeamBlock firstName="HOPSON" lastName="KOUNAVIS" classYear="29" pictureName="hopson" email="hopson@mrx.ee" role="CSO"/>
		<OurTeamBlock firstName="ANDREW" lastName="CHEN" classYear="28" pictureName="andrew" email="andrew@mrx.ee" role="EE"/>
		<OurTeamBlock firstName="SHILOH" lastName="PAIGE" classYear="28" pictureName="shiloh" email="shiloh@mrx.ee" role="EE"/>
		<OurTeamBlock firstName="VINCENT" lastName="CHEN" classYear="29" pictureName="vincent" email="vincent@mrx.ee" role="EE"/>
		<OurTeamBlock firstName="DEVON" lastName="WILSON" classYear="29" pictureName="devon" email="devon@mrx.ee" role="MechE"/>
		<OurTeamBlock firstName="ALTAY" lastName="BAYRAKTAR" classYear="28" pictureName="altay" email="altay@mrx.ee" role="MechE"/>
		<OurTeamBlock firstName="ANIKA" lastName="SIVARASA" classYear="26" pictureName="anika2" email="anika@mrx.ee" role="Emeritus"/>
		<OurTeamBlock firstName="MAX" lastName="LIU" classYear="26" pictureName="max2" email="max@mrx.ee" role="Emeritus"/>
		</div>
	</main>
</Layout>
