---
import Layout from "../layouts/Layout.astro";
import OurTeamBlock from "../layouts/OurTeamBlock.astro";
import Tilt from "react-parallax-tilt";
---

<Layout title="Our Team" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-11/12 2xl:w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>
		<!-- <img src="/images/gallery30.jpg" alt="Team Photo" class="py-3" /> -->
		<div class="w-full flex justify-start py-5">
			<h1
				class="text-gray-200 font-sans font-extrabold text-4xl md:text-6xl pb-6"
			>
				2024-2025 Team
			</h1>
		</div>
		<div
			class="grid h-max w-full gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 text-gray-200"
		>
		<!-- Super weird preloading glitch. Don't worry about it. Just load everyone's image here first. -->
		<div class="bg-[url('/images/people/byran.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/altan2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/yash.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/varit2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/max2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/crane2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/marvin2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/anika2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/kat2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/osbert2.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/fiona.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/andrew.jpeg')] hidden"></div>
		<OurTeamBlock firstName="MAX" lastName="LIU" classYear="26" pictureName="max2" email="max@mrx.ee" role="CEO and EE"/>
        <OurTeamBlock firstName="ANIKA" lastName="SIVARASA" classYear="26" pictureName="anika2" email="anika@mrx.ee" role="CPO (Product)"/>
        <OurTeamBlock firstName="ALTAN" lastName="UNVER" classYear="25" pictureName="altan2" email="altan@mrx.ee" role="CTO (Technical)"/>
		<OurTeamBlock firstName="VARIT" lastName="ASA." classYear="25" pictureName="varit2" email="varit@mrx.ee" role="COO (Operating)"/>
        <OurTeamBlock firstName="CRANE" lastName="LEE" classYear="27" pictureName="crane2" email="crane@mrx.ee" role="CSO (Systems)"/>
		<OurTeamBlock firstName="MARVIN" lastName="SHIM" classYear="27" pictureName="marvin2" email="marvin@mrx.ee" role="SWE"/>
        <OurTeamBlock firstName="OSBERT" lastName="CHANG" classYear="27" pictureName="osbert2" email="osbert@mrx.ee" role="MechE"/>
		<OurTeamBlock firstName="KAT" lastName="LOPEZ" classYear="25" pictureName="kat2" email="kat@mrx.ee" role="Aquatic Logistics"/>
		<OurTeamBlock firstName="FIONA" lastName="LIU" classYear="28" pictureName="fiona" email="fiona@mrx.ee" role="MechE"/>
		<OurTeamBlock firstName="ANDREW" lastName="CHEN" classYear="28" pictureName="andrew" email="andrew@mrx.ee" role="EE"/>
		<OurTeamBlock firstName="BYRAN" lastName="HUANG" classYear="25" pictureName="byran" email="byran@mrx.ee" role="Emeritus"/>
		<OurTeamBlock firstName="YASH" lastName="SHAH" classYear="25" pictureName="yash" email="yash@mrx.ee" role="Emeritus"/>

		</div>
	</main>
</Layout>
