---
import Layout from "../layouts/Layout.astro";
import OurTeamBlock from "../layouts/OurTeamBlock.astro";
import Tilt from "react-parallax-tilt";
---

<Layout title="Our Team" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-11/12 2xl:w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>
		<img src="/images/people/team.jpeg" alt="Team Photo" class="py-3" />
		<div class="w-full flex justify-start py-5">
			<h1
				class="text-white font-sans font-extrabold text-4xl md:text-6xl pb-6"
			>
				2023-2024 Team
			</h1>
		</div>
		<div
			class="grid h-max w-full gap-8 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 text-white"
		>
		<!-- Super weird preloading glitch. Don't worry about it. Just load everyone's image here first. -->
		<div class="bg-[url('/images/people/byran.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/altan.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/yash.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/varit.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/ethan.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/adam.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/max.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/crane.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/marvin.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/anika.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/kat.jpeg')] hidden"></div>
		<div class="bg-[url('/images/people/osbert.jpeg')] hidden"></div>
        <OurTeamBlock firstName="BYRAN" lastName="HUANG" classYear="25" pictureName="byran" email="byran@mrx.ee" role="CEO & EE Lead"/>
        <OurTeamBlock firstName="ALTAN" lastName="UNVER" classYear="25" pictureName="altan" email="altan@mrx.ee" role="CTO"/>
        <OurTeamBlock firstName="YASH" lastName="SHAH" classYear="25" pictureName="yash" email="yash@mrx.ee" role="MechE Lead"/>
        <OurTeamBlock firstName="VARIT" lastName="ASAVATHIRATHAM" classYear="25" pictureName="varit" email="varit@mrx.ee" role="EE + Pilot"/>
        <OurTeamBlock firstName="ETHAN" lastName="CHENG" classYear="24" pictureName="ethan" email="ethan@mrx.ee" role="CFO"/>
        <OurTeamBlock firstName="ADAM" lastName="TANG" classYear="25" pictureName="adam" email="adam@mrx.ee" role="MechE Lead"/>
        <OurTeamBlock firstName="MAX" lastName="LIU" classYear="26" pictureName="max" email="max@mrx.ee" role="EE"/>
        <OurTeamBlock firstName="CRANE" lastName="LEE" classYear="27" pictureName="crane" email="crane@mrx.ee" role="EE"/>
        <OurTeamBlock firstName="MARVIN" lastName="SHIM" classYear="27" pictureName="marvin" email="marvin@mrx.ee" role="SWE"/>
        <OurTeamBlock firstName="ANIKA" lastName="SIVARASA" classYear="26" pictureName="anika" email="anika@mrx.ee" role="MechE"/>
        <OurTeamBlock firstName="KAT" lastName="LOPEZ" classYear="25" pictureName="kat" email="kat@mrx.ee" role="Aquatics/Logistics/MechE"/>
        <OurTeamBlock firstName="OSBERT" lastName="CHANG" classYear="25" pictureName="osbert" email="osbert@mrx.ee" role="MechE"/>
		</div>
	</main>
</Layout>
