---
import Layout from "../layouts/Layout.astro";
---

<!DOCTYPE HTML>

<meta charset="UTF-8">
<meta http-equiv="refresh" content="1; url=https://murexrobotics.com">

<script>
  window.location.href = "https://murexrobotics.com"
</script>

<title>Page Redirection</title>

<!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
If you are not redirected automatically, follow the <a href='https://murexrobotics.com'>link to example</a>
<Layout title="Redirect" animated={false}>
	<main
		class="flex justify-center flex-row flex-wrap w-screen px-10 lg:w-4/5 2xl:w-1/2 min-h-screen pt-48 animate-[0.75s_fade-in_ease-in-out]"
	>

	</main>
</Layout>