---
// import mainLogo from "/logo-white.svg";
// import github from "/github.svg";
// import linkedin from "/linkedin.svg";
// import instagram from "/instagram.svg";
---

<footer
	class="flex items-center justify-center md:py-10 md:px-24 py-8 px-6 text-gray-200 bg-gradient-to-t from-neutral-900"
>
	<div class="flex items-center flex-col md:flex-row justify-between w-full max-w-[1200px]">
		<div class="flex flex-col justify-end gap-5">
			<a href="/" aria-label="MUREX Logo Horizontal">
				<img
					src="/logo-white.svg"
					alt=""
					class="md:w-28 w-16 h-auto"
				/>
			</a>
			<div class="hidden w-full text-xs md:flex self-end flex-col">
				<div class="w-1/2">
					<p>
						© <span class="font-hype pl-1">{new Date().getFullYear()} | <span class="font-black">MUREX</span></span>
					</p>
					<br>
					<a href="https://www.instagram.com/luulurenn/">
						<p class="italic underline-offset-2 underline decoration-neutral-500">
							Thank you to Alinne and Brenda Romero-Torres '24 for designing the logo!
						</p>
					</a>
				</div>
			</div>
		</div>
		<div
			class="flex flex-row flex-wrap md:flex-col py-2 px-8 md:px-0 justify-center md:justify-end md:text-right font-sans font-normal text-sm md:text-md"
		>
			<a class="py-1 px-4 md:px-0 hover:text-white duration-150 ease-in-out" href="/">Home</a>
			<a class="py-1 px-4 md:px-0 hover:text-white duration-150 ease-in-out" href="/about">About</a>
			<a class="py-1 px-4 md:px-0 hover:text-white duration-150 ease-in-out" href="/ourteam">Our Team</a>
			<a class="py-1 px-4 md:px-0 hover:text-white duration-150 ease-in-out" href="/innovation">Innovation</a>
			<a class="py-1 px-4 md:px-0 hover:text-white duration-150 ease-in-out" href="https://docs.murexrobotics.com/" target="_blank">Docs</a>
			<div class="flex w-full justify-center items-center py-2 md:py-0 md:justify-end md:items-end">
				<a
					href="https://www.github.com/murexrobotics/"
					class="flex md:flex-row-reverse invert"
					aria-label="Github Link"
				>
					<img src="/github.svg" alt="" class="h-6 w-6 md:h-8 md:w-8" />
				</a>
				<a
					href="https://www.instagram.com/murexrobotics"
					class="flex md:flex-row-reverse invert"
					aria-label="Instagram Link"
				>
					<img src="/instagram.svg" alt="" class="h-6 w-6 md:h-8 md:w-8" />
				</a>
				<a
					href="https://www.linkedin.com/company/murex-robotics/"
					class="flex md:flex-row-reverse invert"
					aria-label="LinkedIn Link"
				>
					<img src="/linkedin.svg" alt="" class="h-6 w-6 md:h-8 md:w-8" />
				</a>
			</div>
			<span>Email us at: <a class="py-1 px-4 md:px-0 hover:text-white duration-150" href="mailto:murex@murexrobotics.com" target="_blank">murex@murexrobotics.com</a></span>
			<span>or: <a class="py-1 px-4 md:px-0 hover:text-white duration-150" href="mailto:murex@mrx.ee" target="_blank">murex@mrx.ee</a></span>
			<div class="flex w-full flex-col gap-1 text-xs justify-center items-center py-4 md:py-0 md:justify-end md:items-end md:hidden">
				<a href="https://www.instagram.com/luulurenn/">
					<p class="italic underline-offset-2 underline decoration-neutral-500">
						Thank you to Alinne and Brenda Romero-Torres '24 for designing the logo!
					</p>
				</a>
				<p>
					© <span class="font-hype pl-1">{new Date().getFullYear()} | <span class="font-black">MUREX</span></span>
				</p>
			</div>
		</div>
	</div>
</footer>
