---
import mainLogo from "/logo-white.svg";
import github from "/github.svg";
import linkedin from "/linkedin.svg";
---

<footer
	class="flex items-center flex-col md:flex-row justify-between md:py-10 md:px-24 py-8 px-6 text-white"
>
	<div class="flex flex-col justify-end gap-5">
		<a href="/" aria-label="MUREX Logo Horizontal">
			<img
				src={mainLogo}
				alt=""
				class="md:w-28 w-16 h-auto"
			/>
		</a>
		<div class="hidden w-full text-xs md:flex self-end">
			<p>
				© 2023, MUREX (MATE Underwater Robotics At Exeter)
			</p>
		</div>
	</div>
	<div
		class="flex flex-row flex-wrap md:flex-col px-8 md:px-0 justify-center md:justify-end md:text-right font-sans font-normal text-sm md:text-md"
	>
		<a class="py-1 px-4 md:px-0" href="/">Home</a>
		<a class="py-1 px-4 md:px-0" href="/about">About</a>
		<a class="py-1 px-4 md:px-0" href="/ourteam">Our Team</a>
		<a class="py-1 px-4 md:px-0" href="/innovation">Innovation</a>
		<a class="py-1 px-4 md:px-0" href="https://docs.murexrobotics.com/" target="_blank">Docs</a>
		<div class="flex w-full justify-center items-center py-4 md:py-0 md:justify-end md:items-end md:hidden">
			<p>
				© 2023, MUREX (MATE Underwater Robotics At Exeter)
			</p>
		</div>
		<div class="flex w-full justify-center items-center py-2 md:py-0 md:justify-end md:items-end">
			<a
				href="https://www.github.com/murexrobotics/"
				class="flex md:flex-row-reverse invert"
				aria-label="Github Link"
			>
				<img src={github} alt="" class="h-6 w-6 md:h-8 md:w-8" />
			</a>
			<a
				href="https://www.linkedin.com/company/murex-robotics/"
				class="flex md:flex-row-reverse invert"
				aria-label="LinkedIn Link"
			>
				<img src={linkedin} alt="" class="h-6 w-6 md:h-8 md:w-8" />
			</a>
		</div>
	</div>
</footer>
